/*main setting */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

#root {
  font-family: "Roboto";
  
}
p {
  margin: 0;
  padding: 0;
}
/*hearder*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #020203;
  padding: 0 6vw 0 2vw;
  height: 10vh;
  min-height: 91px;
 

}
.header img{
  cursor: pointer;
}
.header p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ffffff;
  cursor: pointer;
}
.header img {
  height: 61px;
  width: 178px;
}
/*lat nav*/
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
  height: 100%;
  background-color: #020203;
  width: 5vw;
  min-width: 100px;
  color: #ffffff;
}
.navbar p {
  writing-mode: vertical-lr;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 24px;
  transform: rotate(180deg);
}
.navbar-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-selection div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 10px 0px;
  cursor: pointer;
}
/*main-section*/
.main-section {
  display: flex;
  width: 100%;
  height: 100%;
}
.main-section-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 4vh 0vw 4vh 8vw
}
.main-section-info{
  display: flex;
height : 613px;
  width: 100%;
 
}
.main-section-graph{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  
}
.main-section-chart{
  display: flex;
  justify-content: space-around;
}
/*title*/
.title p{
  font-size: 1.125rem;
line-height: 133%;
margin-bottom:72px ;
}
.title h1 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 50%;
}
.title h1 span{
  color:red;
  font-weight: 500;
font-size: 3rem;
line-height: 50%;
}

/*bar cahrts*/
.barchart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  height: 274px;
  padding: 23px 20px 23px 40px;
}
.legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.legend div {
  display: flex;
}
.legend-kg {
  margin-right: 32px;
}
.legend h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.93rem;
  line-height: 160%;
  color: #20253a;
}
.legend p {
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 200%;
  color: #74798c;
}
.legend span {
  display: flex;
  align-items: center;
}
.legend-kg div {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #282d30;
}
.legend-kCal div {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #e60000;
}
.custom-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  background: #e60000;
  height: 63px;
  min-width: 29px;
  padding: 0 5px;
}
.custom-tooltip p {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 24px;
}
/*lineChart*/
.linechart {
  position: relative;
  background-image: linear-gradient(0deg, #ff0000 0 100%, #e60000 100% 100%);
  border-radius: 5px;
  height: 263px;
  width: 258px;
  display: flex;
  align-items: flex-end;
}
.linechart h2 {
  position: absolute;
  left: 13.18%;
  right: 29.46%;
  top: 6.03%;
  bottom: 67.3%;

  height: 48px;
  width: 147px;
  font-weight: 500;
  font-size: 0.93rem;
  line-height: 200%;
  opacity: 0.5;
  color: white;
}
.tooltip-line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: white;
  height: 25px;
  min-width: 39px;
  padding: 0 7px;
}
.tooltip-line p {
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 0.44rem;
  line-height: 24px;
}
.recharts-active-dot{
  transform: rotate(90deg);
  
}
.recharts-active-dot circle{
  stroke: white;
  fill : white;
  stroke-width: 4px;
  outline: 5px solid rgba(255, 255, 255, 0.198345);/*bordure opaque*/
  border-radius:50%;
}
/*radar-chart*/
.radar-chart {
  background: #282d30;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}
.recharts-polar-grid-angle line {
  display: none;
}
.recharts-polar-angle-axis {
  transform: scaleY(1.2) scaleX(1.06) translate(-3%, -7%);
}
/*radail Progress*/
.radial-progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px #00000005;
  background: #fbfbfb;
  height: 263px;
  width: 258px;
  border-radius: 5px;
}
.score {
  position: absolute;
  left: 11.63%;
  right: 73.26%;
  top: 9.13%;
  bottom: 81.75%;
  font-weight: 500;
  font-size: 0.93rem;
  line-height: 160%;
  color: #20253a;
  z-index: 10;
}
circle {
  transform: rotate(270deg);
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 500;
  stroke-linecap: round;
}

.ring-style {
  position: relative;
  stroke: red;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring-style circle:nth-child(1) {
  stroke-dashoffset: calc(500 - (500 * 0) / 100);
}
.in-circle {
  position: absolute;
  left: 00px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.in-circle p {
  position: relative;
  left: 16%;
  font-weight: 500;
  font-size: 0.93rem;
  line-height: 150%;
  width: 95px;
}
.in-circle h2 {
  margin: 0;
}
.ring-style svg {
  position: absolute;
  height: 160px;
  width: 160px;
  overflow: visible;
  z-index: 10;
}
/*diet*/
.diet{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
 
}
.diet article{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height : 124px;
  width: 258px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
border-radius: 5px;
background : #FBFBFB ;
transition: all 0.3s;
}
.diet-img {
  height: 60px;
  width: 60px;
 
  mix-blend-mode: normal;
  border-radius: 6px;
  margin : 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diet-img-fire{
   background: rgba(255, 0, 0, 0.07);
}
.diet-img-chicken{
  background: rgba(74, 184, 255, 0.1);
}
.diet-img-apple{
  background:  rgba(249, 206, 35, 0.1);
}
.diet-img-burger{
  background:  rgba(253, 81, 129, 0.1);
}
.diet-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.diet-content h2{
  margin: 0;
  line-height:120%;
  
}
.diet-content p {
 align-self: flex-start;
 font-size: 0.875rem;
  line-height: 171%;
  
}